*.pyc
*~
\#*
.#*
*.swp
.DStore/
**/.DS_Store
thumbs.db
#storage/profiles
#config.py
.idea/*
storage/profiles/TEST.json
systemfiles/mark_scripts/net-dev-kick.log
systemfiles/mark_scripts/net-dev-kick.log
docs/.DS_Store
systemfiles/mark_scripts/net-dev-kick.log
